:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --text-background-color: #f5f5f5;
  --white-color: #ffffff;
  --text-secondary-bg-color: #f5f4fa;
  --black-color: #000000;
  --focus-btn-color: #188ce8;
  --tel-mail-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --cards-border-color: #eeeeee;
  --bg-icon-color: rgba(255, 255, 255, 0.1);
  --customers-border-color: #afb1b8;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio-link, .card, .footer-link, .footer-mail,
.footer-tel, .footer-addres, .customers-icon, .customers-link, .team-icon, .team-soc-link, .hero__btn, .connect__icon, .connect__mail,
.connect__tel, .menu__link, .check-text span, .modal-comment, .modal-input-icon, .modal-input, .modal-close-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-icon {
  transition-property: fill;
}
.modal-close-icon:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-label-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border;
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition-property: fill;
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-field-comment {
  margin-bottom: 20px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  padding: 12px 16px;
  transition-property: border;
}
.modal-comment:focus {
  border: 1px solid var(--accent-color);
}
.modal-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  display: flex;
  align-items: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--white-color);
}
.check-text span {
  transition-property: border-color;
}
.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.check-privacy {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-field-check {
  margin-bottom: 30px;
}

.modal-btn-second {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: start;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__part--dark {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.navigation__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__menu {
    margin-left: 93px;
    display: flex;
    align-items: center;
  }
}

.menu__item .menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link.link.current {
  position: relative;
  color: var(--accent-color);
}
.menu__link.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu__link {
  padding: 32px 0;
  transition-property: color;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.navigation__connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__connect {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__connect {
    margin-left: auto;
    display: flex;
  }
}

.connect__mail:hover, .connect__mail:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .connect__mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__mail {
    margin-right: 30px;
  }
}

.connect__mail,
.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connect__mail,
.connect__tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
  transition-property: color;
}
.connect__mail:hover .connect__icon, .connect__mail:focus .connect__icon {
  color: var(--accent-color);
}
.connect__tel:hover .connect__icon, .connect__tel:focus .connect__icon {
  color: var(--accent-color);
}
.connect__icon:hover, .connect__icon:focus {
  fill: var(--accent-color);
}

.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--primary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 480px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  width: 360px;
  height: 84px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
    height: 120px;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  display: block;
  border: none;
  transition-property: background-color border-radius;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--focus-btn-color);
  border-radius: 0;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .picture-list__item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .picture-list__item {
    width: calc(25% - 30px);
  }
}
.picture-list__item::before {
  display: block;
  height: 120px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  background-color: var(--text-secondary-bg-color);
}

.picture-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.antena::before {
  background-image: url(../images/antenna.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.picture-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.feature {
  padding-bottom: 94px;
}
@media screen and (min-width: 1px) and (max-width: 1199px) {
  .feature {
    display: none;
  }
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-top-wrap {
  position: relative;
}

.feature-top-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--text-secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc(25% - 30px);
  }
}

.team-bottom {
  padding: 30px 0;
  text-align: center;
}

.team-title-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  color: var(--customers-border-color);
  transition-property: background-color;
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-icon {
  fill: currentColor;
  transition-property: color;
}
.team-soc-link:hover .team-icon, .team-soc-link:focus .team-icon {
  color: var(--white-color);
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .customers-item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .customers-item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc(16.6666666667% - 30px);
  }
}

.customers-link {
  display: flex;
  height: 92px;
  width: 170px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--customers-border-color);
  transition-property: border;
}
.customers-link:hover, .customers-link:focus {
  border: 1px solid var(--accent-color);
}

.customers-icon {
  fill: var(--customers-border-color);
  transition-property: fill;
}
.customers-link:hover .customers-icon, .customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: inline-block;
}

.footer-logo-second {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-connect {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-connect {
    margin-bottom: 0;
  }
}

.footer-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 9px;
  display: block;
  transition-property: color;
}
.footer-addres:hover, .footer-addres:focus {
  color: var(--accent-color);
}

.footer-mail {
  margin-bottom: 9px;
  display: block;
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--tel-mail-color);
  transition-property: color;
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: flex;
    align-items: baseline;
  }
}

.footer-first {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-first {
    margin-right: 70px;
    text-align: inherit;
  }
}

.footer-second {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-second {
    margin-right: 93px;
    text-align: inherit;
  }
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-list {
    margin-bottom: 0;
  }
}

.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--bg-icon-color);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
}
.footer-link:hover, .footer-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--white-color);
}

.footer-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    text-align: inherit;
  }
}

.footer-subscription {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-subscription {
    display: flex;
    text-align: inherit;
  }
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 20px;
}
.footer-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--tel-mail-color);
}
.footer-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--tel-mail-color);
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--tel-mail-color);
}

.footer-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    display: flex;
  }
}

.main-contant {
  background-color: var(--white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.card {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--text-secondary-bg-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition-property: background-color color box-shadow;
}
.card:hover, .card:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}
.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid var(--cards-border-color);
  border-top-style: none;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-link {
  display: inline-block;
  transition-property: box-shadow;
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */