.benefits {
     padding-top: 60px;
     padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
     padding-top: 94px;
     padding-bottom: 94px;
    }
  }
  
  .picture-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .picture-list__item {
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
    }
    &::before {
      display: block;
      height: 120px;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px;
      background-color: var(--text-secondary-bg-color);
      }
   }
  
   .picture-list__text {
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--primary-text-color);
  }
  
  .antena::before {
      background-image: url(../images/antenna.svg);
    }
    
   .clock::before {
    background-image: url(../images/clock.svg);
  }
  
  .diagram::before {
    background-image: url(../images/diagram.svg);
    }
  
  .astronaut::before {
    background-image: url(../images/astronaut.svg);
  } 
  
  .picture-list__title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
  }