.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
   }
  }
  
  .customers-title {
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
  }
  
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .customers-item {
    // flex-basis: calc(100% / 6 - 30px);
    @media screen and (min-width: 480px) {
      width: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 768px) {
      width: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 6 - 30px);
    } 
  }
  
  .customers-link {
    display: flex;
    height: 92px;
    width: 170px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--customers-border-color);
  
    transition-property: border;
    @extend %animation-element;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  }
  
  .customers-icon {
    fill: var(--customers-border-color);
  
    transition-property: fill;
    @extend %animation-element;
  .customers-link:hover &,
  .customers-link:focus & {
    fill: var(--accent-color);
  }
  }