.feature {
    padding-bottom: 94px;
        @media screen and (min-width: 1px) and (max-width: 1199px) {
      display: none;
    }
  }
  .feature-title {
    @include font(700, 36px, 1.17, 0.03em);
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
  }
  
  .feature-list {
    display: flex;
    justify-content: space-between;
  }
  
  .feature-top-wrap {
  position: relative;
  }
  
  .feature-top-text {
    position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  
  @include font(700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  }