.footer {
    background-color: var(--primary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-content {
    @media screen and (min-width: 1200px) {
      display: flex;
    align-items: baseline;
    }
  }

  .footer-tablet {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-bottom: 60px;
    }
  }
  
  .footer-first {
    text-align: center;
    margin-bottom: 60px;    
    @media screen and (min-width: 768px) {
      margin-right: 165px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      text-align: inherit;
      margin-bottom: 0;
    }
  }
  
  .footer-logo {
    font-family: "Raleway";
    @include font(700, 26px, 1.19, 0.03em);
    color: var(--accent-color);
    margin-bottom: 20px;
    display: inline-block;
  }
  
  .footer-logo-second {
    @include font(700, 26px, 1.19, 0.03em);
    color: var(--white-color);
  }

  .footer-addres {
    font-style: normal;
    @include font(400, 14px, 1.5, 0.03em);
    color: var(--white-color);
    margin-bottom: 9px;
    display: block;
  
    transition-property: color;
    @extend %animation-element;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  }
  
  .footer-mail {
    margin-bottom: 9px;
    display: block;
    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }
  
  .footer-mail,
  .footer-tel {
    font-style: normal;
    @include font(400, 14px, 1.5, 0.03em);
    color: var(--tel-mail-color);
  
    transition-property: color;
    @extend %animation-element;
  }
  
  .footer-tel:hover,
  .footer-tel:focus {
    color: var(--accent-color);
  }
  
  .footer-second {
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      text-align: inherit;
      margin-bottom: 0;
    }
  }
  .footer-text {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .footer-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--bg-icon-color);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  
    transition-property: background-color;
    @extend %animation-element;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  }
  
  .footer-soc-icon {
    fill: var(--white-color);
  }
  
  .footer-form {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      text-align: inherit;
    }
  }
  
  .footer-subscription {
    text-align: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: inherit;
      text-align: inherit;
      align-items: inherit;
    }
  }
  
  .footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 20px;
  &::placeholder {
    @include font(400, 16px, 1.25, 0.03em);
  color: var(--tel-mail-color);
  }
  }
  
  .footer-btn {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    @include font(700, 16px, 1.88, 0.06em);
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  }